<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Highcharts Example</title>
        <script type="text/javascript" src="http://cdn.hcharts.cn/jquery/jquery-1.8.3.min.js"></script>
        <script type="text/javascript" src="http://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
        <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
        <style type="text/css">${demo.css}</style>
        <script type="text/javascript">
 $(function () {
    var chart=  Highcharts.chart('container', 
        {
            chart: {
                //type: 'line',
                animation: Highcharts.svg, // don't animate in old IE
                marginRight: 10,
                events: {
                    load: function () {
                        // set up the updating of the chart each second
                        var series = this.series[0]
                    }
                }
            },
            title: {
                text: 'User #'
            },
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 15
            },
            yAxis: {
                title: {
                    text: 'Value'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.series.name + '</b><br/>' +
                        Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                        Highcharts.numberFormat(this.y, 2);
                }
            },
            legend: {
                enabled: false
            },
            exporting: {
                enabled: false
            },
            series: [
            {
                name: 'User',
                data:[]
            }]
        });

    var mytable = $('#users').DataTable(
            // {
            //     columns: [
            //     { title: "WTF" }
            //     ]
            // }
        );

    function updatechart(data)
    {
        var x = (new Date()).getTime(), 
        y = data;
        chart.series[0].addPoint([x, y]);
    }


    function updateDataTables(users)
    {
        mytable.clear();
        // console.log(users);
        mytable.rows.add(users);
        mytable.draw();
    }

    function update()
    {
        $.get("http://localhost:5000", function(data)
        {
            updatechart(data.data);
            console.log(data.test);
            updateDataTables(data.users);
        })
    }

    $(document).ready(function () {

        window.setInterval(update, 3000);

    });
});

    </script>
    </head>
    
<body>
<script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
<script src="http://cdn.hcharts.cn/highcharts/modules/exporting.js"></script>

<input type="button" id="mybutton" value="计算" onclick="update()"/>

<table id="users" class="display" width="100%">
    <thead>
    <tr> {% for name in names %}
        <th> {{ name }}</th>
        {%endfor%}
    </tr>
    </thead>
</table>
</body>

</html>
